// settings
$font-allow-cyrillic-greek-latin: true;
$breakpoint-navigation-threshold: 1110px;

// Import Vanilla framework
@import "vanilla-framework";
@include vanilla;

@include vf-p-icons;

@include vf-p-icon-highlight-off;
@include vf-p-icon-highlight-on;
@include vf-p-icon-home;
@include vf-p-icon-import;
@include vf-p-icon-in-progress;
@include vf-p-icon-info;
@include vf-p-icon-inspector-debug;
@include vf-p-icon-warning-grey;
@include vf-p-icon-spinner;
@include vf-p-icon-controllers;
@include vf-p-icon-change-version;
@include vf-p-icon-loading-steps;
@include vf-p-icon-lock-locked-active;
@include vf-p-icon-lock-locked;
@include vf-p-icon-lock-unlock;
@include vf-p-icon-machines;
@include vf-p-icon-maximise-bar;
@include vf-p-icon-menu;
@include vf-p-icon-minimise-bar;
@include vf-p-icon-minus;
@include vf-p-icon-models;
@include vf-p-icon-mount-2;
@include vf-p-icon-mount;
@include vf-p-icon-open-terminal;
@include vf-p-icon-pin;
@include vf-p-icon-plans;
@include vf-p-icon-plus;
@include vf-p-icon-pods;
@include vf-p-icon-power-error;
@include vf-p-icon-power-off;
@include vf-p-icon-power-on;
@include vf-p-icon-profile;
@include vf-p-icon-help;
@include vf-p-icon-restart;
@include vf-p-icon-revisions;
@include vf-p-icon-search;
@include vf-p-icon-security;
@include vf-p-icon-settings;
@include vf-p-icon-share;
@include vf-p-icon-show;
@include vf-p-icon-sort-both;
@include vf-p-icon-sort-down;
@include vf-p-icon-sort-up;
@include vf-p-icon-starred;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-error;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-status-in-progress;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-queued;

// import cookie policy
@import "@canonical/cookie-policy/build/css/cookie-policy";

.p-icon--canonical {
  @extend %social-icon;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='Layer_1' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;%7D.cls-1,.cls-2%7Bstroke-width:0px;%7D.cls-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ccircle cx='2.3' cy='7.15' r='2.17' class='cls-2'/%3E%3Ccircle cx='11.36' cy='2.39' r='2.17' class='cls-2'/%3E%3Cpath d='M7.2 12.75c-1.57-.34-2.87-1.34-3.61-2.75-.58.26-1.23.34-1.86.23.89 2.19 2.78 3.77 5.1 4.27.51.11 1.03.16 1.54.16-.4-.52-.62-1.16-.64-1.82-.18-.02-.36-.05-.53-.09Z' class='cls-2'/%3E%3Ccircle cx='10.87' cy='12.76' r='2.17' class='cls-2'/%3E%3Cpath d='M13.89 11.96c.68-.85 1.15-1.86 1.38-2.93.4-1.87.03-3.83-1.03-5.42-.25.59-.68 1.09-1.22 1.43.59 1.11.77 2.38.5 3.61-.13.6-.36 1.17-.68 1.68.51.42.87.98 1.04 1.62ZM2.13 4.04h.17c.22 0 .44.02.66.07.35.08.69.21.99.4.98-1.41 2.56-2.25 4.27-2.28 0-.16.03-.33.07-.49.1-.47.3-.9.59-1.27C6.15.25 3.49 1.66 2.14 4.05Z' class='cls-2'/%3E%3Cpath d='M0 0h16v16H0z' class='cls-1'/%3E%3C/svg%3E");
}

// Application layout styles

body {
  margin: 0 !important; /* override codepen embedded examples styles */
}

/* application layout demo styles */
.l-application .u-fixed-width {
  /*  temporary, as I don't want to change the global setting */
  max-width: 95rem;
}

.demo-status {
  background-color: #f7f7f7; /* $colors--light-theme--background-alt; */
  padding-bottom: 0.75rem; /* $spv--medium; */
  padding-top: 0.75rem;
}

/* demo JAAS CSS */
.u-flex {
  display: flex;
}

.u-flex--block {
  flex: 1 1 auto;
}

.has-icon [class*="p-icon"]:first-child {
  margin-right: 0.25rem;
  margin-top: 0.25rem;
}

.status-icon {
  display: inline-block;
  padding-left: 1.5rem;
  position: relative;
}

.status-icon::before {
  content: "\00B7";
  font-size: 5rem;
  left: 0;
  position: absolute;
  top: -6px;
}

.status-icon.is-blocked::before,
.status-icon.is-down::before,
.status-icon.is-error::before,
.status-icon.is-provisioning::before {
  color: #c7162b;
}

.status-icon.is-alert::before,
.status-icon.is-attention::before,
.status-icon.is-maintenance::before,
.status-icon.is-pending::before,
.status-icon.is-stopped::before,
.status-icon.is-waiting::before {
  color: #f99b11;
}

.status-icon.is-active::before,
.status-icon.is-running::before,
.status-icon.is-started::before {
  color: #cdcdcd;
}

.status-icon.is-unknown::before {
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  content: "";
  height: 0.6rem;
  left: 0.35rem;
  top: 0.5rem;
  width: 0.6rem;
}

table thead::after {
  content: none;
}

td,
th {
  min-width: 150px;
}
