<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />

    <link
      rel="icon"
      type="image/png"
      href="https://assets.ubuntu.com/v1/cb22ba5d-favicon-16x16.png"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="https://assets.ubuntu.com/v1/49a1a858-favicon-32x32.png"
      sizes="32x32"
    />

    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ versioned_static('css/main.css') }}"
    />

    <title>{% block title %}{{ title }}{% endblock title %}</title>
    <meta
      name="description"
      content="Ubuntu brand, app and web guidelines that help you create professional materials, software, sites, apps that build the Ubuntu brand."
    />
    <meta
      name="keywords"
      content="Ubuntu, Design, Brand guidelines, web guidelines, apps guidelines, colors, buttons, layout, styleguide"
    />
    <meta name="author" content="Canonical" />
    <meta
      name="copydoc"
      content="{% block meta_copydoc %}https://drive.google.com/drive/u/0/folders/1LxHnsplr5Xd8JQxNvwvLil2J_Q5_3loU{% endblock %}"
    />

    <!-- Google Tag Manager -->
    <!-- TODO: Reimplement once site is live -->
    <!--
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NV2KV6F");
    </script>
    -->
    <!-- End Google Tag Manager -->
  </head>

  <body class="l-site is-paper">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NV2KV6F"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="l-application" role="presentation">
      <div class="l-navigation-bar">
        <div class="p-panel is-dark">
          <div class="p-panel__header">
            <a class="p-panel__logo" href="#">
              <img
                class="p-panel__logo-icon"
                src="https://assets.ubuntu.com/v1/7144ec6d-logo-jaas-icon.svg"
                alt=""
                width="24"
                height="24"
              />
              <img
                class="p-panel__logo-name is-fading-when-collapsed"
                src="https://assets.ubuntu.com/v1/2e04d794-logo-jaas.svg"
                alt="JAAS"
                height="16"
              />
            </a>
            <div class="p-panel__controls">
              <span class="p-panel__toggle js-menu-toggle">Menu</span>
            </div>
          </div>
        </div>
      </div>

      <header class="l-navigation is-collapsed">
        <div class="l-navigation__drawer">
          <div class="p-panel is-dark">
            <div class="p-panel__header is-sticky">
              <a class="p-panel__logo" href="#">
                <img
                  class="p-panel__logo-icon"
                  src="https://assets.ubuntu.com/v1/7144ec6d-logo-jaas-icon.svg"
                  alt=""
                  width="24"
                  height="24"
                />
                <img
                  class="p-panel__logo-name is-fading-when-collapsed"
                  src="https://assets.ubuntu.com/v1/2e04d794-logo-jaas.svg"
                  alt="JAAS"
                  height="16"
                />
              </a>
              <div class="p-panel__controls u-hide--large">
                <button
                  class="p-button--base is-dark has-icon u-no-margin u-hide--medium js-menu-close"
                >
                  <i class="is-light p-icon--close"></i>
                </button>
                <button
                  class="p-button--base is-dark has-icon u-no-margin u-hide--small js-menu-pin"
                >
                  <i class="is-light p-icon--pin"></i>
                </button>
              </div>
            </div>
            <div class="p-panel__content">
              <div class="p-side-navigation--icons" id="drawer-icons">
                <nav aria-label="Main">
                  <ul class="p-side-navigation__list">
                    <li class="p-side-navigation__item">
                      <a class="p-side-navigation__link" href="/brand"
                        ><i
                          class="p-icon--information is-light p-side-navigation__icon"
                        ></i
                        ><span class="p-side-navigation__label"
                          ><span class="p-side-navigation__label"
                            >Home</span
                          ></span
                        ></a
                      >
                    </li>
                    <li class="p-side-navigation__item">
                      <a class="p-side-navigation__link" href="#"
                        ><i
                          class="p-icon--information is-light p-side-navigation__icon"
                        ></i
                        ><span class="p-side-navigation__label"
                          ><span class="p-side-navigation__label"
                            >Datasources</span
                          ></span
                        ></a
                      >
                    </li>
                    <li class="p-side-navigation__item">
                      <a class="p-side-navigation__link" href="#"
                        ><i
                          class="p-icon--information is-light p-side-navigation__icon"
                        ></i
                        ><span class="p-side-navigation__label"
                          ><span class="p-side-navigation__label"
                            >Feedback</span
                          ></span
                        ></a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="l-main">
        <div class="p-panel">
          <div class="p-panel__header">
            <h4 class="p-panel__title">Vanilla usage statistics per site</h4>
          </div>
          <div class="p-panel__content">
            <div class="u-fixed-width">{% block body %}{% endblock %}</div>
          </div>
        </div>
      </main>

      <aside class="l-status">
        <div class="p-panel demo-status">
          <div id="vanilla-usage-stats-status-bar" class="u-fixed-width">
            &nbsp;
          </div>
        </div>
      </aside>
    </div>

    <!-- cookie policy and gloabl navigation component -->
    <script src="{{ versioned_static('js/cookie-policy.js') }}"></script>
    <script src="{{ versioned_static('js/global-nav.js') }}"></script>
    <script>
      canonicalGlobalNav.createNav();
      cpNs.cookiePolicy();
    </script>

    <script src="{{ versioned_static('js/main.js') }}"></script>

    {% block js %}{% endblock %}
  </body>
</html>
