{% extends "_layouts/page.html" %}

{% block title %}Overall statistics{% endblock %}

{% block meta_copydoc %}https://docs.google.com/document/d/1gAcMzBy67q0QcS7DuQcY9PA2h6E-p5rb4RJSgH_Clm0/edit{% endblock %}

{% block heading %}Vanilla usage statistics - overall{% endblock %}

{% block content %}
<table aria-label="Vanilla usage statistics per site" class="p-main-table">
  <thead>
    <tr>
      <th>URL</th>
      <th># elements w/ classNames</th>
      <th># pure Vanilla elements</th>
      <th># dirty Vanilla elements</th>
      <th>% pure Vanilla usage</th>
      <th>% dirty Vanilla usage</th>
      <th>% pure vs. dirty usage</th>
    </tr>
  </thead>
  <tbody id="vanilla-usage-stats-table"></tbody>
</table>
{% endblock %}

{% block js %}
<script src="https://apis.google.com/js/api.js"></script>
<script src="{{ versioned_static('js/home.js') }}"></script>
{% endblock %}
